// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background-gray: #f8f8f8;
$white: white;

$dark-green: #5F8670;
$light-orange: #FF9800;
$light-red: #B80000;
$dark-red: #820300;
$background-gray: #F8F8F8;
$white: white;
