// Specific CSS for your home-page
#header-background {
  background-color: $background-gray;
}

.home-container {
  // padding: 60px;
  display: flex;
  justify-content: space-between;
}

.home-container-body {
  padding-top: 60px;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

#home-logo {
  width: 500px;
}

.home-img-width {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 570px;
}
