<div class="footer">
  <div class="container d-flex justify-content-between">
    <div class="contact-info">
      <h4>Contactez-nous</h4>
      <p>Email : papanoel@driveconnect.com<br>
      Téléphone : 04 22 52 10 10<br>
      Adresse : Atelier du Père Noël, 33 500 Libourne</p>
    </div>

    <div class="social-media">
      <h4>Suivez-nous</h4>
      <ul>
        <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i> Facebook</a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter"></i> Twitter</a></li>
        <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i> Instagram</a></li>
      </ul>
    </div>

 <div class="newsletter">
    <h4>Inscrivez-vous à notre newsletter</h4>
    <form action="/subscribe" method="post">
      <!-- Formulaire d'inscription à la newsletter -->
      <input type="email", class="input-footer-newsletter", name="email" placeholder="Votre adresse email" required>
      <button type="submit", class="btn-footer-newsletter-green">S’abonner</button>
    </form>
  </div>

    <div class="copyright">
      <p>&copy; 2023 • Tous droits réservés<br>Le Wagon #1410<br>Anne-Perrine Fournier<br>with ♥️</p>
    </div>
  </div>
</div>
